<% provide(:title, @user.name) %>
<h1>Profil Utilisateur</h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
				<br>
				<span class="gray"><%= @user.email %></span>
				<br>
				<%= age(@user) %> ans
				<br>
				<%= @user.height %> cm
				<br>
				<%= @user.weight %> kg
				<br>
				<span class="gray">(IMC : <%= bmi(@user) %>)</span>
				<br>
				<% if @user.sporty? %>
					Sportif(ve)
				<% else %>
					Non-sportif(ve)
				<% end %>
				<br>
				<a href="<%= @user.cv %>" target="_blank">Voir le CV</a>
			</h1>
    </section>
  </aside>
</div>

